.body {
    font-family: 'Playfair Display', serif;
}

.navbar {
    background-color: white;
    font-family:'Andika New Basic', sans-serif;
}

.navbar-brand {
    background-color: teal;
    color: white;
}
.row {
    background-color: white;
    font-family: 'Andika New Basic', sans-serif;
    
}

img {
    float: none;
    padding: 10px;
}


.page-footer {
    position: fluid; 
            font-family: 'Andika New Basic', sans-serif;
            padding: 10px 10px 0px 10px; 
            bottom: 0; 
            width: 100%;  
            height: 40px; 
            background: grey; 
            text-align: center;
}

font-family: 'Playfair Display', serif;